anndata
pydeseq2
datamol
pandas
seaborn
matplotlib
scikit-learn
scipy
hdf5plugin
scanpy[leiden]
jupyterlab
ipykernel
google-cloud-bigquery
db-dtypes
pytest
flair==0.15.1
# pip install https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
